html, body {
	border: 0;
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;

	background: transparent;
	overflow: hidden;
}

textarea#log {
	box-sizing: border-box;
	height: 100vw;
	width: 100vw;
	overflow-y: scroll;
}
